.promo {
    padding: 55px 0 55px 0;
    background-color: #f3f3f3;
    &__blocks {
        margin-top: 35px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    &__item {
        display: flex;
        margin-top: 40px;
    }
    &__text {
        width: 450px;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        color: #3a3a3a;
        text-align: left;
        margin-left: 22px;
    }
    span {
        display: block;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        color: #ec644b;
        margin-bottom: 7px;
    }
    &__image {
        padding-top: 5px;
    }
}